{% extends 'base.html' %}
{% load static %}
{% block title %}Cardápio | {% endblock %}
{% load crispy_forms_tags %}


{% block conteudo %}
<!--====== ABOUT PART START ======-->
<br><br><br>
<section id="about" class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">

        <div class="section-title text-center mt-30 pb-40">

          <hr>
          <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Tem certeza que deseja apagar o
            telefone '{{object.OrdersPhone}}'?
          </h4>
          <br><br>
          <form action="." method="post">
            {% csrf_token %}
            <input class="btn btn-success btn-sm" type="submit" value="Sim, tenho certeza">
            <input class="btn btn-danger btn-sm" type="reset" onclick="location.href= '{% url 'orders:list_orders' %}'"
              value="Cancelar">
          </form>

        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

  </div> <!-- container -->
</section>
{% endblock %}