{% extends 'base.html' %}
{% load static %}
{% block title %}Cardápio | {% endblock %}
{% load crispy_forms_tags %}


{% block conteudo %}
<!--====== ABOUT PART START ======-->
<br><br><br>
<section id="about" class="about-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">

        <div class="section-title text-center mt-30 pb-40">

          <hr>
          <h4 class="title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">Perfil</h4>

          {% for user in object_list %}
          <ul class="list-group">
            <li class="list-group-item">Usuário: {{ user.username }} -
              <a class="btn btn-secondary btn-sm " href="{% url 'accounts:update_accounts'%}">Editar</a>
            </li>
            <li class="list-group-item">Nome: {{ user.perfil.full_name}}</li>
            <li class="list-group-item">CPF: {{ user.perfil.cpf}}</li>
            <li class="list-group-item">Telefone: {{ user.perfil.cellphone}}</li>
            <li class="list-group-item">E-mail: {{ user.email }}</li>
          </ul>
          {% empty %}
          <ul>
            <ul>Nenhum perfil encontrado.</ul>
          </ul>
          {% endfor %}

        </div> <!-- section title -->
      </div>
    </div> <!-- row -->

  </div> <!-- container -->
</section>
{% endblock %}