{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="content-language" content="pt-br" />
  <meta name="robots" content="index, follow" />

  <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
    <![endif]-->

  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/boot.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/magnific-popup.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fonts-icones.css' %}">
  <link rel="shortcut icon" href="img/favicon.png" type="image/ico" />

  <title>Click Menu | Seu cardápio digital</title>

</head>

<body>

  <header class="main_header container">

    <div class="content">

      <div class="main_header_logo">
        <a href="index.html" title="Restaurante Serve Bem"><img src="{% static 'assets/img/logo.png' %}"
            alt="Restaurante Serve Bem" title="Restaurante Serve Bem" /></a>
      </div>

      <div class="icon icon-menu mobile_action"></div>

      <ul class="main_header_nav" id="top">

        <li class="main_header_nav_item"><a href="#inicio" class="scrollSuave menuAtivo" title="Início">
            Início</a></li>
        <li class="main_header_nav_item"><a href="#cardapio" class="scrollSuave" title="Cardápio"> Cardápio</a>
        </li>
        <li class="main_header_nav_item"><a href="#galeria" class="scrollSuave" title="Galeria de Fotos">
            Galeria de Fotos</a></li>
        <li class="main_header_nav_item"><a href="#faq" class="scrollSuave" title="Contato"> Perguntas
            Frequentes</a></li>
        <li class="main_header_nav_item"><a href="#contato" class="scrollSuave" title="Contato"> Contato</a>
        </li>
        <li class="main_header_nav_item"><a href="{% url 'accounts:login' %}" class="scrollSuave" title="Contato">
            Login</a>
        </li>
        <li class="main_header_nav_item"><a href="{% url 'accounts:create_accounts' %}" class="scrollSuave"
            title="Contato"> Cadastre-se</a>
        </li>

      </ul>

      <div class="clear"></div>

    </div>

  </header>

  <main class="main_content container">

    <section id="inicio" class="section-chamada container">

      <div class="content">

        <article class="topoPag">
          <div class="mascara">

            <div class="centraliza">
              <h1 class="branco"> CLICK MENU</h1>
              <p class="branco">O seu cardápio digital.</b></p>
            </div>

            <img src="{% static 'assets/uploads/capa/banner-home.jpg' %}" alt="Você Fitness" title="Você Fitness" />

          </div>
        </article>

        <div class="clear"></div>
      </div>

    </section><!--Fecha Section Chamada-->

    <section id="cardapio" class="section-cardapio container">

      <div class="content">

        <h1 class="title center laranja">Vantagens</h1>


        <article class="card">

          <div class="fundo-card"> <img src="{% static 'assets/uploads/cardapio/camarao.jpg' %}" alt="Camarão"> </div>

          <div class="title-content">

            <h3><a href="#galeria">FÁCIL DE USAR</a></h3>
            <div class="intro"> <a href="#">Frutos do Mar</a> </div>
          </div>

          <div class="info">

            Digite aqui a descrição do produto acima.
            <a href="#galeria">Veja mais</a>
          </div>

        </article><!--card 1-->

        <article class="card">

          <div class="fundo-card"> <img src="{% static 'assets/uploads/cardapio/sobremesas.jpg' %}" alt="Sobremesa">
          </div>

          <div class="title-content">

            <h3><a href="#galeria">DESIGN INCRÍVEL</a></h3>
            <div class="intro"> <a href="#">Sorvetes e Frutas</a> </div>
          </div>

          <div class="info">

            Digite aqui a descrição do produto acima.
            <a href="#galeria">Veja mais</a>
          </div>

        </article><!--card 2-->

        <article class="card">

          <div class="fundo-card"> <img src="{% static 'assets/uploads/cardapio/bebidas.jpg' %}" alt="Bebidas"> </div>

          <div class="title-content">

            <h3><a href="#galeria">FÁCIL DE CUSTOMIZAR</a></h3>
            <div class="intro"> <a href="#">Vinhos e Cervejas</a> </div>
          </div>

          <div class="info">

            Digite aqui a descrição do produto acima.
            <a href="#galeria">Veja mais</a>
          </div>

        </article><!--card 3-->



        <div class="clear"></div>
      </div>

    </section><!--Fecha Section Cardapio-->

    <section id="galeria" class="section-galeria container">

      <div class="content">

        <h2 class="title center laranja">Galeria de Fotos</h2>

        <div class="galeria">

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/1.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/1.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/2.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/2.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/3.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/3.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/4.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/4.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/5.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/5.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/6.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/6.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/7.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/7.jpg' %}">

          </article>

          <article class="foto">

            <div class="mascara"></div>
            <a href="{% static 'assets/uploads/galeria/8.jpg' %}" title="veja" class="image-link"> <i
                class="icon icon-search"></i> </a>
            <img src="{% static 'assets/uploads/galeria/8.jpg' %}">

          </article>


        </div><!--Galeria-->


        <div class="clear"></div>
      </div>

    </section><!--Fecha Section Galeria-->

    <section id="faq" class="section-faq container">

      <div class="content">

        <h2 class="title center laranja">Perguntas Frequentes</h2>

        <div class="coluna-left">

          <div class="faq-img">
            <img src="{% static 'assets/uploads/capa/faq.jpg' %}" alt="Perguntas Frequentes"
              title="Perguntas Frequentes">
          </div>

        </div><!---Div coluna Left-->

        <div class="coluna-right">

          <ul id="toggle-item">

            <li>
              <h4>O ClickMenu é apenas para restaurantes?</h4>
              <span><i class="icon icon-plus-square"></i></span>
              <p>
                Não! O CickMenu serve para qualquer estabelecimento que receba pedidos de delivery,
                pedidos na mesa ou encomendas.</p>
            </li>

            <li>

              <h4>Como funciona o cardápio online?</h4>
              <span><i class="icon icon-plus-square"></i></span>
              <p>O cardápio online é a versão digital do seu cardápio físico, com a diferença de que seus
                clientes poderão acessá-lo de onde estiverem e quando quiserem, com informações, fotos e
                preços sempre atualizados. Ahhh, e o cardápio pode ser compartilhado pelo Whatsapp,
                Instagram ou qualquer outra rede social com seus clientes, facilitando seus pedidos.</p>

            </li>

            <li>

              <h4>Como divulgar meu cardápio?</h4>
              <span><i class="icon icon-plus-square"></i></span>
              <p>Com seu cardápio pronto, basta compartilhar o link com seus clientes pelo Whatsapp,
                Instagram, Facebook e outras redes sociais ;)</p>
            </li>

            <li>
              <h4>Como criar o cardápio online?</h4>
              <span><i class="icon icon-plus-square"></i></span>
              <p>Depois que você cadastrar seu estabelecimento, poderá começar adicionar os itens no seu
                cardápio imediatamente, incluindo descrição, foto e preço. Quando terminar, basta
                compartilhar o link do seu cardápio com seus clientes pelo Whatsapp, Instagram, Facebook
                e outras redes sociais. Pela experiência, em menos de 30 minutos nossos clientes
                conseguem fazer isso. Bem fácil e rápido.</p>
            </li>

            <li>

              <h4>Como faço para imprimir o cardápio?</h4>
              <span><i class="icon icon-plus-square"></i></span>
              <p>O ClickMenu te ajuda a criar a versão digital do seu cardápio, que pode ser compartilhado
                com seus clientes pelo Whatsapp, Instagram e outras redes sociais. Por isso, não possui
                a funcionalidade para imprimir o cardápio. Nossos cliente entenderam que nao precisam
                mais usar o cardápio em papel, mas somente o cardápio digital, pois é isso que trás
                praticidade e economia.</p>

            </li>


          </ul>

        </div><!---Div coluna Right-->

        <div class="clear"></div>
      </div>

    </section><!--Fecha Section Faq-->


  </main>

  <footer class="footer" id="contato">

    <div class="left">

      <h4 class="title-footer">Click <span>Menu</span></h4>
      <p class="links">

        <a href="#inicio" title="Inicio">Início</a>
        <a href="#cardapio" title="Cardápio">Vantagens</a>
        <a href="#galeria" title="Galeria de Fotos">Galeria de Fotos</a>
        <a href="#faq" title="Perguntas Frequentes">Perguntas Frequentes</a>
      </p>
      <div class="footer-icons">
        <a href="#"><i class="icon icon-facebook"></i></a>
        <a href="#"><i class="icon icon-instagram"></i></a>
        <a href="#"><i class="icon icon-pinterest"></i></a>
        <a href="#"><i class="icon icon-twitter"></i></a>
      </div>
      <p class="Copyright">Copyright &copy; 2023 Seu site - Todos os Direitos Reservados.</p>
      <p class="by">Desenvolvido por: <a href="https://www.loopnerd.com.br/templates-html" target="_blank"
          title="Estevão Ferreira">Estevão
          Ferreira</a>
      </p>

    </div><!--Left-->

    <div class="right">

      <h4 class="title-footer">Contato</h4>
      <form class="formulario" action="#" method="post">

        <input type="text" class="campo" name="nome" placeholder="Nome" required="" />
        <input type="email" class="campo" name="email" placeholder="E-mail" required="" />
        <input type="text" class="campo" name="assunto" placeholder="assunto" required="" />
        <textarea name="menssagem" class="campo-textarea" placeholder="Menssagem" rows="5" required=""></textarea>
        <button class="btn">Enviar</button>

      </form>

    </div><!--Right-->

  </footer>

  <script src="{% static 'assets/js/jquery.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>

</body>

</html>